* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
/* ...................................fonts...... */

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.eot');
	src: local('O'), url('../fonts/BebasNeue.woff') format('woff'), url('../fonts/BebasNeue.ttf') format('truetype'), url('../fonts/BebasNeue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('O'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold.eot');
	src: local('O'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../fonts/OpenSans-Semibold.eot');
	src: local('O'), url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype'), url('../fonts/OpenSans-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-SemiboldItalic';
	src: url('../fonts/OpenSans-SemiboldItalic.eot');
	src: local('O'), url('../fonts/OpenSans-SemiboldItalic.woff') format('woff'), url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype'), url('../fonts/OpenSans-SemiboldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-LightItalic';
	src: url('../fonts/OpenSans-LightItalic.eot');
	src: local('O'), url('../fonts/OpenSans-LightItalic.woff') format('woff'), url('../fonts/OpenSans-LightItalic.ttf') format('truetype'), url('../fonts/OpenSans-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ...........................................repeated... */

.container {
    max-width: 940px;
    margin: 0 auto;
}
h2 {
    font: 47px "BebasNeue", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    color: #252222;
}

/* .............................................hover...... */
.nav ul:first-child a:hover {
    color: #65ba99;
    border-bottom: 1px solid #65ba99;
}
/* .............................................header..... */

header {
    min-height: 500px;
    background: #252222 url(../images/backgr1.jpg) no-repeat center;
    background-size: cover;
}
header .container {
    padding: 120px 0 0 100px;
}
header h1 {
    font: 90px "BebasNeue", sans-serif;
    color: #fff;
}
header h1 span {
    display: table-row;
    line-height: 65px;
}
header h3 {
    font: 36px "BebasNeue", sans-serif;
    letter-spacing: 0.5px;
    color: #fff;
}

/* .............................................nav..... */

nav {
    min-height: 100px;
    background: #252222;
}
nav .container {
    height: 100px;
    box-sizing: border-box;
    padding-top: 30px;
}
nav .logo {
    float: left;
}
nav .fa {
    display: none;
    cursor: pointer;
    color: #65ba99;
}
.nav {
    float: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.nav ul:first-child {
    padding-right: 70px;
}
.nav ul:first-child li{
    margin-left: 25px;
}
.nav ul:first-child a {
    display: inline-block;
    line-height: 36px;
    vertical-align: middle;
    padding: 14px 0 14px;
    letter-spacing: 1px;
    border-bottom: 1px solid #252222;
    font: 18px "BebasNeue", sans-serif;
    color: #fff;
}
.nav ul li{
    float: left;
    margin-left: 12px;
}
.nav ul li:first-child {
    margin-left: 0;
}

/* ......................................Portfolio... */
#portfolio {
    background: #65ba99;
}
#portfolio .container {
    padding: 60px 0 100px 0;
}
#portfolio h2 {
    color: #fff;
}

#portfolio h4 {
    padding-bottom: 50px;
    font: 23px "BebasNeue", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
}

.galery ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border: 1px solid #777;
}

.galery ul li {
    position: relative;
    height: auto;
}

.galery ul li >img {
    display: block;
    width: 100%;
}
.galery ul li:first-child,
.galery ul li:nth-child(2),
.galery ul li:nth-child(3),
.galery ul li:nth-child(4),
.galery ul li:nth-child(13),
.galery ul li:nth-child(18) {
    width: 50%;
}
.galery ul li:nth-child(5),
.galery ul li:nth-child(6),
.galery ul li:nth-child(7),
.galery ul li:nth-child(8),
.galery ul li:nth-child(9),
.galery ul li:nth-child(10),
.galery ul li:nth-child(11),
.galery ul li:nth-child(12),
.galery ul li:nth-child(14),
.galery ul li:nth-child(15),
.galery ul li:nth-child(16),
.galery ul li:nth-child(17) {
    width: 25%;
}

.details {
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    text-align: center;
    background: rgba(101, 186, 153, .5);
    opacity: 0;
}

.nav_gal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
        align-items: flex-end;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 90%;
}

.long_row .nav_gal {
    height: 90%;
}
.galery li:hover .details {
    opacity: 1;
    width: 101%;
}
.details .pop_up {
    position: absolute;
    top: 45%;
    cursor: pointer;
}

.zoom_img {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background: rgba(0,0,0,.9);
}

.zoom_img img {
    display: block;
    margin: 10% auto;
    max-width: 100%;
    height: auto;
}

/* ......................................Reviews... */

.reviews {
    min-height: 300px;
    background: url(../images/backgr2.jpg) no-repeat center;
    background-size: cover;
}

.reviews .container {
    padding-top: 60px;
}

.reviews h5 {
    position: relative;
    right: 243px;
    font: 18px "BebasNeue", sans-serif;
    color: #fff;
}
.reviews h3 {
    position: relative;
    padding: 40px 0 30px 0;
    font: 36px "BebasNeue", sans-serif;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.reviews h3:before {
    position: absolute;
    width: 30px;
    height: 20px;
    top: 25px;
    left: 80px;
    content: "";
    background: url(../images/quote1.png) no-repeat center;
    
}
.reviews h3 span:after {
    position: absolute;
    width: 30px;
    height: 20px;
    bottom: 23px;
    right: 95px;
    content: "";
    background: url(../images/quote2.png) no-repeat center;
}
.reviews h3 span {
    display: block;
}

.reviews h4 {
    float: right;
    padding-right: 120px;
    font: 24px "BebasNeue", sans-serif;
    color: #fff;
}
/* .........................................News... */

.news {
    background: #cdcdcd;
}

.news h2 {
    padding: 80px 0 75px 0;
}
.news .container {
    padding-bottom: 80px;
}
.news .read_more {
    float: left;
    width: 50%;
}
.fashion time {
    font: 11px "OpenSans-Regular", sans-serif;
    padding: 5px 20px;
    color: #fffefe;
    background: #59a386;
}
.fashion .tag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: right;
    padding-right: 10px;
}
.fashion .tag i {
    margin: 2px 10px 0 0;
    font-size: 14px;
    color: #62b9b0;
} 
.fashion .tag a {
    font: 12px "OpenSans-Semibold", sans-serif;
    color: #e74c3c;
} 
.fashion h5 {
    padding: 30px 0 10px 0;
    font: 16px "OpenSans-Semibold", sans-serif;
    color: #59a386;
}
.fashion img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}
.fashion p {
    padding-top: 15px;
    text-align: justify;
    font: 14px "OpenSans-Regular", sans-serif;
    color: #666767;
}
.fashion >a {
    float: right;
    padding: 10px 10px 0 0;
    color: #e2534b;
} 
.news .nav_news {
    float: right;
    width: 42%;
}
.nav_news ul:first-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-top: 60px;
}
    
.nav_news ul li {
    padding: 0 10px 20px 0;
}
.nav_news ul li a {
    display: block;
    padding: 5px 10px;
    font: 14px "OpenSans-Regular", sans-serif;
    color: #fff;
    background: #59a386;
 }
.nav_news ul li .active {
    background: #e2534b;
 }
.nav_news h5 {
    padding: 30px 0 20px 5px;
    font: 20px "OpenSans-LightItalic", sans-serif;
    color: #666767;
 }
.nav_news h5 span {
    font: 20px "OpenSans-Regular", sans-serif;
    text-transform: uppercase;
    color: #252222;
}
.nav_news .blog img {
    border-radius: 8px;
    width: 70px;
    height: 70px;
}
.nav_news .blog li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.nav_news .text {
    padding-left: 20px;
}
.nav_news .blog p {
    font: 13px "OpenSans-Regular", sans-serif;
    color: #252222;
}
.nav_news .blog time {
    font: 13px "OpenSans-Semibold", sans-serif;
    color: #e2534b;
}

/* .....................................Sponsors...*/
.sponsors {
    min-height: 200px;
    background: #bebebe;
}
.sponsors .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 80px 20px 0 20px;
}
/* ..........................................Bio...*/

#bio {
    background: #e2534b;
}
#bio .container {
    padding: 50px 0 80px 0;
}
#bio h3 {
    padding: 55px 0 35px 0;
    font: 36px "BebasNeue", sans-serif;
    color: #fff;
    text-align: center;
}
#bio .avatar {
    float: left;
    width: 25%;
}
#bio .avatar >img {
    background: #fff;
    padding: 45px 40px;
    border-radius: 50%;
}
.avatar ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding-top: 45px;
}
#bio .content {
    float: right;
    width: 48%;
}
#bio .content h5 {
    padding: 65px 0 20px 0;
    font: 18px "BebasNeue", sans-serif;
    color: #fff;
}
.content p {
    padding-bottom: 15px;
    font: 14px "OpenSans-Regular", sans-serif;
    color: #fff;
}
/* ......................................Contact... */

#contact {
    min-height: 530px;
    background: url(../images/backgr3.jpg) no-repeat center;
    background-size: cover;
}
#contact .container {
    padding-top: 55px;
    text-align: center;
}

#contact h2:nth-child(2) {
    padding: 55px 0 45px 0;
    color: #fff;
}
#contact h2:nth-child(2):before {
    content: url(../images/plus_minus.png);
    position: relative;
    bottom: 8px;
}
#contact a {
    display: inline-block;
    width: 380px;
    padding: 20px 125px;
    border: 5px solid #fff;
    font: 60px "BebasNeue", sans-serif;
    color: #fff;
}
#contact h3 {
    padding-top: 30px;
    font: 30px "BebasNeue", sans-serif;
    color: #fff;
}
#contact span {
    display: inline-block;
    padding: 110px 0 35px 0; 
    font: 14px "OpenSans-Bold", sans-serif;
    color: #fff;
}

@media screen and (max-width: 1450px) {
    .reviews h5 {position: static;}
}

@media screen and (max-width: 970px) {
    .container {width: 95%; padding-left: 25px; padding-right: 25px;}
    .reviews .container, .news .container, #contact .container, .sponsors .container {padding-right: 0;}
    header {min-height: 400px;}
    header .container {width: 70%; padding-top: 40px;}
    .reviews h3 {font-size: 30px;}
} 

@media screen and (max-width: 900px) {
    header .container {width: 60%; padding-top: 40px; padding-left: 0;}
}

@media screen and (max-width: 790px) {
    header .container {margin: 0 100px;}
    .reviews h3 {font-size: 25px;}
    .news h2 {padding: 60px 0;}
    .news .read_more {width: 45%;}
    .nav_news ul li a {padding: 2px 5px;}
    .nav_news h5 {padding-top: 20px;}
    .sponsors {min-height: 150px;}
    .sponsors .container {-webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; padding-top: 30px;}
    .sponsors .container img {padding: 0 71px 20px 0;}
    #bio .container {padding-bottom: 50px;}
    .avatar ul {padding-left: 20px; width: 180px;}
    #contact {min-height: 400px; box-sizing: border-box;}
    #contact .container {padding-top: 40px;}
    #contact h2:nth-child(2) {padding: 30px 0;}
    #contact a {width: 320px; font-size: 50px; padding: 10px 70px;}
    #contact span {padding-top: 50px;}
}

@media screen and (max-width: 701px) {
    h2 {font-size: 37px;}
    header {min-height: 350px;}
    header .container {margin: 0 70px; padding-top: 20px;}
    header h1 {font-size: 70px;}
    header h1 span {line-height: 55px;}
    header h3 {font-size: 30px;}
    nav {min-height: 80px;}
    nav .container {height: auto; padding: 15px 0;}
    nav .logo {display: block; width: 50%; line-height: 48px;}
    nav .logo img {vertical-align: bottom; padding-bottom: 6px;}
    nav .fa {display: block; float: left}
    .nav {display: none; float: none; clear: both; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center;  justify-content: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; padding-top: 25px;}
    .reviews h5 {font-size: 16px;}
    .reviews h3:before {content: open-quote; background: none; font-size: 50px; position: static;}
    .reviews h3 span:after {content: close-quote; background: none; font-size: 50px; position: static;}
    .reviews h4 {font-size: 20px;}
    .news .read_more {float: none; width: 70%; margin: 0 auto;}
    .news .nav_news {float: none; width: 70%; margin: 0 auto;}
    .sponsors .container img {padding: 0 71px 20px 0; width: 30%;}
    #bio .avatar, #bio .content {float: none; width: 100%; text-align: center;}
    #bio h3 {font-size: 30px;}
    .content p {font-size: 13px;}
    .avatar ul {padding-left: 0; margin: 0 auto;}
    #bio .avatar >img {padding: 40px 35px; width: 20%;}
    .galery ul {max-width: 470px; margin: 0 auto;}
    .galery ul li:first-child, .galery ul li:nth-child(2), .galery ul li:nth-child(3), .galery ul li:nth-child(4), 
    .galery ul li:nth-child(13), .galery ul li:nth-child(18) {width: 100%;}
    .galery ul li:nth-child(5), .galery ul li:nth-child(6), .galery ul li:nth-child(7), .galery ul li:nth-child(8),
    .galery ul li:nth-child(9), .galery ul li:nth-child(10), .galery ul li:nth-child(11), .galery ul li:nth-child(12),
    .galery ul li:nth-child(14), .galery ul li:nth-child(15), .galery ul li:nth-child(16), .galery ul li:nth-child(17) {width: 50%;}
}

@media screen and (max-width: 531px) {
    .container {max-width: 100%; padding-left: 10px; padding-right: 10px;}
    h2 {font-size: 30px;}
    header {min-height: 290px;}
    header .container {margin: 0 30px; padding-top: 10px;}
    header h1 {font-size: 55px;}
    header h1 span {line-height: 40px;}
    header h3 {font-size: 24px;}
    .nav ul {width: auto; margin: 0 auto;}
    .nav ul:first-child {padding-right: 0;}
    #portfolio .container {padding-top: 40px;}
    #portfolio h4 {font-size: 18px;}
    .nav_gal a img {width: 95%;}
    .reviews {min-height: 250px;}
    .reviews .container {padding-top: 40px;}
    .reviews h5 {font-size: 14px; letter-spacing: 1px;}
    .reviews h3 {font-size: 20px; padding: 25px 0;}
    .reviews h3:before, .reviews h3 span:after {font-size: 30px;}
    .reviews h4 {font-size: 17px; padding-right: 80px;}
    .news h2 {padding: 35px 0;}
    #bio .container {padding-top: 30px; padding-bottom: 30px;}
    #bio h3 {font-size: 24px; padding: 30px 0;}
    #bio .avatar >img {padding: 35px 30px;}
    .avatar ul {padding-top: 30px;}
    #bio .content h5 {padding-top: 40px;}
    #contact {min-height: 360px;}
    #contact h2:nth-child(2)::before {bottom: 0;}
    #contact a {width: 230px; font-size: 35px; padding: 5px 50px;}
    #contact h3 {font-size: 25px;}
}

@media screen and (max-width: 441px) {
    nav .container {padding: 15px 10px;}
    .nav ul:first-child {padding-bottom: 10px;}
    .nav_gal a img {width: 70%;}
    .fashion .tag {float: none; padding: 15px 0;}
    .fashion h5 {padding-top: 0;}
    .reviews h3 {font-size: 16px;}
    .reviews h3:before, .reviews h3 span:after {font-size: 20px;}
    .reviews h4 {font-size: 14px; padding-right: 80px;}
    .news .container {padding-bottom: 30px;}
    .nav_news ul li a {font-size: 12px; padding: 1px 3px;}
    .nav_news h5 {text-align: center;}
    .nav_news .blog li {display: block;}
    .nav_news .blog img {display: block; margin: 0 auto; padding-bottom: 5px;}
    .sponsors .container {width: 90%;}
    #contact {min-height: 300px;}
    #contact a {width: 150px; font-size: 20px; padding: 5px 10px; border-width: 2px;}
    #contact h3 {font-size: 18px; padding-top: 20px;}
    #contact span {font-size: 12px; padding-top: 30px;}
}
